body {
  height: 100vh;
}

.mainInfo,
.detailInfo {
  width: 35%;
}

.container {
  height: 100%;
}

.container,
.details,
.detailsIcon,
.forecastContainer,
.tempContainer,
.mainInfoContainer,
.locationTimeContainer,
.switchContainer,
#weatherForm {
  display: flex;
}

.container {
  justify-content: center;
}

.container,
.switchContainer {
  align-items: center;
}

.switchContainer {
  gap: 10px;
}

.weatherIcon,
#detailImg {
  height: 60px;
}

#mainWeatherIcon {
  height: 120px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch #metricInput {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

#metricInput:checked + .slider {
  background-color: #2196f3;
}

#metricInput:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#metricInput:checked + .slider::before {
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
}

.slider::before {
  border-radius: 50%;
}
