:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --main-bg: oklch(21% 0.034 264.665);
  --second-bg: oklch(27.8% 0.033 256.848);
  --btn-bg: oklch(51.1% 0.096 186.391);
}

body {
  height: 100vh;
  font-family: var(--system-ui);
  background-color: var(--main-bg);
  color: white;
}

.infoContainer,
.todayDetails,
.forecast {
  background-color: var(--second-bg);
  border-radius: 10px;
}

.todayDetails,
.forecast {
  padding: 30px;
}

.details:not(:last-child) {
  border-bottom: 1px solid white;
}

.detailInfo,
.infoContainer {
  opacity: 0;
}

h1,
p {
  margin: 0;
}

.mainInfo,
.detailInfo {
  width: 45%;
  height: 90%;
}

.container {
  height: 100%;
  gap: 35px;
}

.container,
.details,
.detailsIcon,
.forecastContainer,
.tempContainer,
.mainInfoContainer,
.locationTimeContainer,
.switchContainer,
#weatherForm,
.infoContainer,
.forecast,
.weatherIconContainer {
  display: flex;
}

.forecast {
  flex-direction: column;
}

.forecastItems {
  flex: 1;
}

.condition {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 125px;
}

.container,
.weatherIconContainer {
  justify-content: center;
}

.container,
.switchContainer,
.details,
.detailsIcon,
.weatherIconContainer {
  align-items: center;
}

.searchContainer {
  padding: 10px;
  margin-bottom: 10px;
}

.infoContainer {
  padding: 30px;
  flex-direction: column;
  height: 75%;
}

.temp {
  margin-bottom: 5px;
}

.locationTimeContainer,
.mainInfoContainer {
  justify-content: space-between;
}

.tempContainer {
  justify-content: space-around;
}

.condition {
  margin-bottom: 15px;
}

.locationTimeContainer {
  margin-bottom: 10px;
}

.days,
.weatherIcon {
  margin-bottom: 30px;
}

.dateContainer,
.detailsIcon {
  flex: 1;
}

.switchContainer {
  gap: 10px;
}

#detailImg,
.weatherIcon {
  height: 60px;
}

#mainWeatherIcon {
  height: 120px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch #metricInput {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

#metricInput:checked + .slider {
  background-color: #2196f3;
}

#metricInput:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#metricInput:checked + .slider::before {
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
}

.slider::before {
  border-radius: 50%;
}

#locationInput {
  flex: 1;
  margin-left: 10px;
}

#locationInput,
#searchBtn {
  border-radius: 5px;
  border: 1px solid grey;
  border: none;
}

#searchBtn {
  cursor: pointer;
  background-color: var(--btn-bg);
  color: white;
  font-weight: bold;
  padding: 0px 15px;
  margin-left: 5px;
}

#searchBtn:hover {
  opacity: 0.9;
}

#locationInput {
  padding: 5px 10px;
}

.todayDetails {
  margin-bottom: 20px;
}

.detailsIcon {
  gap: 10px;
}

.todayDetails > h1,
.forecast > h1 {
  margin-bottom: 15px;
}

.forecastContainer {
  gap: 30px;
}

.days {
  text-align: center;
}
